.overlay {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  .filter__link:hover &,
  .filter__link:focus & {
    transform: translateY(0%);
  }
}
