:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-background: #2f303a;
  --secondary-background: #f5f4fa;
  --third-background: #ececec;
  --filter-border: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --icon-fill: #afb1b8;
  --footer-link: rgba(255, 255, 255, 0.6);
  --footer-social-link: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
